@model ReceptionProcam.Areas.Area.Models.IdentityMasters
@{
    ViewBag.Title = "IdentityList";
    Layout = "~/Areas/Area/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed", role = "form" }))
{
    @Html.AntiForgeryToken()

    		<!--begin::Portlet-->
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Identity Master List
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">

            </div>
        </div>
        <div class="m-portlet__body" style="height:500px; overflow: auto;">
            <table class="table table-striped- table-bordered table-hover table-checkable" id="Visitors">
                <thead>
                    <tr>
                        <th>@Html.DisplayName("Identity Name")</th>
                        <th>@Html.DisplayName("Identity Code")</th>
                        <th>@Html.DisplayName("Created Date")</th>
                        <th>
                            Edit
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.AllIdentityDetails)
                    {
                        <tr>
                            <td>@item.ProofName</td>
                            <td>@item.ProofCode</td>
                            <td>@item.CreatedDate</td>
                            <td>@Html.ActionLink("Edit", "EditIdentity", new { id = item.Id })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="padding-left: 46%; padding-bottom: 10px; padding-top: 10px;">
            <input name="b_cancel" type="button" class="btn btn-danger" onclick="@("window.location.href='" + @Url.Action("IdentityMaster", "IdentificationMaster") + "'");" value="Back">
        </div>
    </div>
}

