@{
    Layout = null;
}
@model ReceptionProcam.Models.clsVisitor
<html lang="en">
<head>
    <title>
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://code.jquery.com/jquery-1.12.4.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js">
    </script>
</head>
<body>
    <br />
    @*<div class="container">*@
    <div class="panel panel-primary" style="width:420px;height:260px;margin:0px auto">
        <div class="panel-body">
            <form data-toggle="validator" role="form">
                <table style="font-size:10px">
                    <tr style="height:3px">
                        <td>
                            <img src="~/Content/ncsiLogo.png" alt="Smiley face" style="height:23px; width:125px">
                        </td>
                        <td>
                            <label style="padding-left:50px; font-size:12px; font-weight:bold">Visitor Pass</label>
                        </td>
                    </tr>
                    <tr padding-top="5" style="height:10px">
                        <td rowspan="4">
                            <img src="@Url.Content(Model.ImagePath)" alt="Visitor Photo" height="80" width="70">
                        </td>
                        <td>
                            <label style="font-weight:bold">Name:</label>
                            <label style="font-weight:bold">@Model.First_Name</label>
                           @* @Html.LabelFor(model => model.First_Name)*@
                        </td>

                    </tr>
                    <tr style="height:10px">

                        <td colspan="2">
                            <label style="font-weight:bold">From:</label>
                            @*@Html.LabelFor(model => model.Form, htmlAttributes: new { })*@
                            <label style="font-weight:bold">@Model.Form</label>

                        </td>
                    </tr>
                    <tr style="height:10px">
                        <td>
                            <label style="font-weight:bold">To Meet:</label>
                            @*@Html.LabelFor(model => model.ToMeet, htmlAttributes: new { })*@
                            <label style="font-weight:bold">@Model.ToMeet</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="height:10px">
                            <label style="font-weight:bold">Building:</label>
                            @*@Html.LabelFor(model => model.Building, htmlAttributes: new { })*@
                            <label style="font-weight:bold">@Model.Building</label>
                        </td>
                    </tr>

                    <tr style="height:10px">
                        <td>
                            <label style="font-weight:bold">In Time:</label>
                            @*@Html.LabelFor(model => model.TimeIn, htmlAttributes: new { })*@
                            <label style="font-weight:bold">@Model.TimeIn</label>
                        </td>

                        <td>

                            <label style="font-weight:bold">Valid Upto:</label>
                            @*@Html.LabelFor(model => model.ValidUpto, htmlAttributes: new { })*@
                            <label style="font-weight:bold">@Model.ValidUpto</label>
                        </td>

                    </tr>
                    <tr style="height:10px">
                        <td>

                            <label style="font-weight:bold">Gate:</label>
                            @*@Html.LabelFor(model => model.Gate, htmlAttributes: new { })*@
                            <label style="font-weight:bold">@Model.Gate</label>
                        </td>

                        <td>

                            <label style="font-weight:bold">Asset Id:</label>
                            @*@Html.LabelFor(model => model.AssetId, htmlAttributes: new { })*@
                            <label style="font-weight:bold">@Model.AssetId</label>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <label style="font-weight:bold">Purpose: </label>
                            @*@Html.LabelFor(model => model.Purpose, htmlAttributes: new { })*@
                            <label style="font-weight:bold">@Model.Purpose</label>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <label style="font-weight:bold">Remark:</label>
                            @*@Html.LabelFor(model => model.Remark, htmlAttributes: new { })*@
                            <label style="font-weight:bold">@Model.Remark</label>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" style="font-size:12px; font-weight:bold; padding-top:5px">
                            Visitor sign &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Employee sign &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Security sign
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    @*</div>*@
</body>
</html>
